{% assign rawTags = "" %}
{% for post in site.posts %}
{% assign tags = post.tags | join:'|' | append:'|' %}
{% assign rawTags = rawTags | append:tags %}
{% endfor %}
{% assign rawTags = rawTags | split:'|' | sort %}

{% assign site.tags = "" %}
{% for tag in rawTags %}
{% if tag != "" %}
{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}
{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}