<footer class="padding-bottom">
    <div class="container">
        <div class="left">
            <p>© {{ 'now' | date: "%Y" }} {{ site.data.config.author }}</p>
        </div>

        {% if site.data.config.menu %}
        <div class="right">
            <nav>
                <ul>
                    {% for menu in site.data.config.menu %}
                    <li><a title="{{ menu.name }}" href="{{ menu.url | relative_url }}">{{ menu.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        {% endif %}
    </div>
</footer>