<li class="post-item">
    <div class="post-item--inner">


        <h3 class="post-item--title"><a class="post-item--link" href="{{ post.url }}">{{ post.title }}</a></h3>

        {% if post.description %}
        <div class="post-item--description">{{ post.description | markdownify }}</div>
        {% endif %}

        <div class="post-item--metadata">

            <time class="post-item--time">{% include days-ago.html %}</time>

            <div class="post-item--tags">
                {% for tag in post.tags %}
                <a href="/tag/{{ tag }}">#{{ tag }}</a>
                {% endfor %}
            </div>

        </div>

    </div>
</li>