/* font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* reset */
* {padding:0; margin:0; outline:none; border:none;}

/* pre-defined classes */
.margin-bottom {margin-bottom:var(--space);}
.margin-bottom-small {margin-bottom:var(--space-small);}
.padding-bottom {padding-bottom:var(--space);}

/* common */
body {
    font-family:"Roboto", sans-serif;
    background-color:#f7fafc; color:#1d1d1d;
    min-height:100vh;
    display:flex; flex-direction:column; justify-content:space-between;
}
.container {
    width:100%; max-width:768px; margin:0 auto;
}
a {color:var(--primary); text-decoration:none; transition:all .3s ease;}
a:hover, a:focus {text-decoration:underline;}
p:not(:last-child) {margin-bottom:var(--space-small);}

/* header */
header {text-align:center; padding:var(--space) 0;}
header figure {width:100px; display:inline-block; margin-bottom:var(--space-small)}
header figure a {display:block;}
header figure a img {width:100%; height:auto;}
header h1 {font-size:20px;}

/* footer */
footer .container {
    display:flex; justify-content:space-between;
}
footer nav ul {
    list-style:none; margin:0;
    display:flex;
}
footer nav ul li:not(:last-child) {margin-right:20px;}

/* pagination */
.pagination {margin-bottom:var(--space);}
.pagination span {color:var(--secondary);}
.pagination-item:not(:last-child) {margin-right:20px;}

/* tags */
a.tag-item {background:#f1f1f1; padding:.2em .5em; border-radius:.3em;}
a.tag-item:not(:last-child) {margin-right:.3em;}
a.tag-item:hover, a.tag-item:focus {
    background-color:var(--primary); color:#fff; text-decoration:none;
}
.related-tags a.tag-item {
    background-color:#fff;
    border:1px solid #edf2f7;
    font-size:20px;
}
.related-tags a.tag-item:hover, .related-tags a.tag-item:focus {
    background-color:var(--primary); color:#fff; text-decoration:none;
}