ul.posts {list-style:none; margin-bottom:var(--space);}
li.post-item:not(:last-child) {margin-bottom:var(--space-small);}

.post-item--inner {
    padding:20px;
    border-radius:10px;
    background-color:#fff;
    border:1px solid #edf2f7;
}

/* title */
.post-item--title {margin-bottom:10px; font-size:18px;}

/* description */
.post-item--description {color:var(--dark); margin-bottom:5px;}

/* metadata */
.post-item--metadata {display:flex; font-size:14px; padding-top:5px;}
.post-item--metadata > div:not(:first-child) {margin-left:15px;}

/* metadata > time */
.post-item--time {color:var(--secondary);}

/* metadata > tags */
.post-item--tags a {background:#f1f1f1; padding:2px 5px; border-radius:4px;}
.post-item--tags a:not(:last-child) {margin-right:3px;}
.post-item--tags a:hover, .post-item--tags a:focus {
    background-color:var(--primary); color:#fff; text-decoration:none;
}