ul.posts {list-style:none;}
li.post-item:not(:last-child) {margin-bottom:var(--space-small);}

.post-item--inner {
    padding:20px;
    border-radius:10px;
    background-color:#fff;
    border:1px solid #edf2f7;
}

/* title */
.post-item--title {margin-bottom:10px; font-size:18px;}

/* description */
.post-item--description {color:var(--dark); margin-bottom:5px;}

/* metadata */
.post-item--metadata {display:flex; font-size:14px; padding-top:5px;}
.post-item--metadata > div:not(:first-child) {margin-left:15px;}