---
layout: base
css:
- "/assets/css/home.css"
---

<ul class="posts">
    {% for post in paginator.posts %}
    <li class="post-item">
        <a class="post-item--link" href="{{ post.url }}">
            <h3 class="post-item--title">{{ post.title }}</h3>
            {% if post.description %}
            <div class="post-item--description">{{ post.description | markdownify }}</div>
            {% endif %}
            <time class="post-item--time">{% include days-ago.html %}</time>
        </a>
    </li>
    {% endfor %}
</ul>

{% include pagination.html %}