---
layout: base
css:
- "/assets/css/posts.css"
---

<h1 class="margin-bottom-small">{{ site.data.config.tag_prepend }}{{ page.tag }}</h1>
<ul class="posts margin-bottom">
    {% for post in site.posts %}
    {% for tag in post.tags %}
    {% if tag == page.tag %}
    {% include post-item.html %}
    {% endif %}
    {% endfor %}
    {% endfor %}
</ul>


<h2 class="margin-bottom-small">{{ site.data.config.tag_related_title }}</h2>
<div class="tags-list margin-bottom">
    {% for tag in page.relatedTags %}
    {% include tag-item.html tag=tag %}
    {% endfor %}
</div>