---
layout: base
css:
- "/assets/css/posts.css"
---

<h1 class="margin-bottom-small">{{ site.data.config.tag-title }}{{ page.tag }}</h1>
<ul class="posts margin-bottom">
    {% for post in site.posts %}
    {% for tag in post.tags %}
    {% if tag == page.tag %}
    {% include post-item.html %}
    {% endif %}
    {% endfor %}
    {% endfor %}
</ul>


<h2 class="margin-bottom-small">{{ site.data.config.tag-related }}</h2>
<div class="related-tags margin-bottom">
    {% for relatedTags in page.relatedTags %}
    <a href="{{ site.tag_path }}{{ relatedTags }}" class="tag-item">#{{ relatedTags }}</a>
    {% endfor %}
</div>